<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
></html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Seu Controle! - Sign In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <!-- scripts e css da página -->
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <!-- <script th:src="@{.//..//script.js}"></script> -->

    <script src="main.js"></script>
  </head>
  <body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <div style="text-align: center; padding-top: 3rem; padding-bottom: 3rem">
        <h3>Login</h3>
      </div>
      <form th:action="@{/signin}" method="post">
        <!-- EMAIL/USUARIO -->
        <div class="form-outline mb-4">
          <label class="form-label" for="login">Usuário</label>
          <input
            type="text"
            name="username"
            id="login"
            class="form-control form-control-lg"
            placeholder="Digite seu nome de usuário/email"
          />
        </div>

        <!-- SENHA -->
        <div class="form-outline mb-3">
          <label class="form-label" for="senha">Senha</label>
          <input
            type="password"
            name="password"
            id="senha"
            class="form-control form-control-lg"
            placeholder="Digite sua senha"
          />
        </div>

      <p class="d-flex justify-content-between align-items-center">
        <input
          id="btnEsqueceuSenha"
          type="submit"
          method="get"
          value="Esqueceu sua senha?"
        />
      </p>

      <div class="text-center text-lg-start mt-4 pt-2">
        <button
          type="submit"
          class="btn btn-primary btn-lg"
          style="
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            border-color: #fff;
          "
          id="btnSignIn"
        >
          Entrar
        </button>
      </form>

        <form method="get" action="/signup">
          <p class="small fw-bold mt-2 pt-1 mb-0">
            Não possui uma conta?
            <input id="btnSignUp" type="submit" value="Criar conta" />
          </p>
        </form>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
