a,
a:focus,
a:hover {
  color: #fff;
}

/* Botão padrão customizado */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: 0.05rem solid #fff;
}

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  /* text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); */
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
  max-width: 42em;
}

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: #333;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

.mastfoot {
  color: #333;
}

footer p {
  color: antiquewhite;
}

body {
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#btnLogin {
  background-color: #fff;
  color: #333;
  transition: 1.5s;
}

#btnLogin:hover {
  background-color: #333;
  color: #fff;
  transition: 1.5s;
}

.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

#btnSignIn {
  background-color: #fff;
  color: #333;
  transition: 1.5s;
}

#btnSignIn:hover {
  background-color: #333;
  color: #fff;
  transition: 1.5s;
}

#btnSignUp {
  font-size: 14px;
  background-color: transparent;
  border-color: transparent;
  color: white;
  transition: 0.7s;
}

#btnSignUp:hover {
  font-size: 18px;
  color: rgb(80, 133, 247);
  transition: 0.7s;
}

#btnEsqueceuSenha {
  font-size: 16px;
  text-align: start;
  background-color: transparent;
  border-color: transparent;
  color: white;
  transition: 0.7s;
}

#btnEsqueceuSenha:hover {
  font-size: 18px;
  color: rgb(80, 133, 247);
  transition: 0.7s;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

#btnCadNewUser {
  background-color: #fff;
  color: #333;
  transition: 1.5s;
}

#btnCadNewUser:hover {
  background-color: #333;
  color: #fff;
  transition: 1.5s;
}

#edtLogin,
#edtSenha {
  border-color: rgba(255, 255, 255, 0.52);
}

#edtLogin:invalid,
#edtSenha:invalid {
  border-color: rgba(255, 0, 0, 0.52);
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

#edtLogin:valid:focus,
#edtSenha:valid:focus {
  border-color: rgba(34, 255, 0, 0.52);
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

#sideMenuBar {
  width: 200px;
  border-radius: 10px;
  border: 1px solid;
  border-bottom: transparent;
  border-top: transparent;
  border-left: transparent;
  border-color: #222;
  background-color: #222;
  /* display: flex;
  align-items: flex-start; */
  justify-content: center;
  margin-top: 8px;
  margin: 8px;
  box-shadow: 1px 1px 1px 1px rgb(51, 51, 51);
  transition: 0.7s;
  position: relative;
}

#sideMenuBar:hover {
  box-shadow: 1px 1px 1px 1px rgb(60, 60, 60);
  transition: 0.7s;
}

#sideMenuBar label {
  color: #fff;
  font-size: 24px;
  font-family: "Quicksand", sans-serif;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  transition: 0.5s;
}

#sideMenuBar label:hover {
  font-size: 26px;
  transition: 0.5s;
}

#sideMenuBar hr {
  color: #fff;
  border-top: 3px solid rgb(255, 255, 255);
  width: 90%;
  border-radius: 5px;
}

#menuHome {
  color: #fff;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  margin-top: 10px;
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  transition: 0.3s;
}

#menuHome:hover {
  font-size: 16px;
  background-color: rgb(65, 65, 65);
  transition: 0.3s;
}

#menuProfile {
  color: #fff;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  margin-top: 10px;
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  transition: 0.3s;
}

#menuProfile:hover {
  font-size: 16px;
  background-color: rgb(65, 65, 65);
  transition: 0.3s;
}

#menuMovements {
  color: #fff;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  margin-top: 10px;
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  transition: 0.3s;
}

#menuMovements:hover {
  font-size: 16px;
  background-color: rgb(65, 65, 65);
  transition: 0.3s;
}

#sideMenuBar p i {
  margin-right: 10px;
  margin-left: 25px;
  align-content: center;
}

#sideMenuBar a i {
  margin-right: 10px;
  margin-left: 25px;
  align-content: center;
}

#initial {
  display: block !important;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 90%;
  height: 100%;
}

#profile {
  display: none !important;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 90%;
  height: 100%;
}

#movements {
  display: none !important;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 90%;
  height: 100%;
}

#edtDescricao {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  /* width: 35%; */
}

#edtValor {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  /* width: 35%; */
}

#cboTipo {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  /* width: 35%; */
}

#edtData {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  /* width: 35%; */
}

#movements h2 {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  width: 100%;
  margin: 10px 0px 10px 0px;
  font-size: 28px;
}

#movements h2:hover {
  font-size: 30px;
  transition: 0.3s;
}

@keyframes fadeIn {
  25% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

#cadMovements {
  visibility: hidden !important;
  display: none;
  padding: 8px;
  width: 60%;
  height: 45%;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  border-color: transparent;
  margin-top: 5%;
  border-radius: 2%;
  transition: 0.3s;
}

#cadMovements label {
  color: #222;
}

#cadMovements:hover {
  width: 62%;
  height: 47%;
  transition: 0.3s;
}

#newMovements {
  width: 45px;
  height: 45px;
  border: 0;
  background-color: white;
  border-radius: 100%;
  margin-right: 50px;
  right: 0;
  bottom: 40px;
  position: absolute;
  transition: 0.2s;
  border-color: transparent;
  outline: 0;
}

#newMovements:hover {
  margin-right: 45px;
  width: 50px;
  height: 50px;
  bottom: 35px;
  right: 5px;
  transition: 0.2s;
}

#btnSalvarMovimentacao {
  background-color: #333;
  color: #fff;
}

#btnSalvarMovimentacao:hover {
  background-color: rgb(15, 177, 34);
  /* color: #333; */
  transition: 0.7s;
}

#listMovements {
  background-color: transparent;
  outline: 0;
  border-color: #333;
  margin-top: 2%;
}

#listMovements table {
  border-collapse: collapse;
  width: 100%;
  background-color: transparent;
}

#listMovements th {
  /* padding-top: 12px;
  padding-bottom: 12px; */
  font-size: 18px;
  text-align: center;
  background-color: rgb(70, 70, 70);
  color: white;
  border: 2px solid #333;
  border-radius: 8px;
  transition: 0.5s;
}

#listMovements th:hover {
  /* background-color: #ddd; */
  font-size: 20px;
  transition: 0.5s;
}

#listMovements tr {
  font-size: 16px;
  text-align: center;
  transition: 0.5s;
}

#listMovements tr:hover {
  /* background-color: #ddd; */
  font-size: 17px;
  transition: 0.5s;
}

#listMovements table,
thead,
tbody,
tr {
  background-color: transparent;
  outline: 0;
  border-color: #333;
  font-family: "Quicksand", sans-serif;
}

#lisMovements table th,
td {
  color: #fff;
}

#menuLogout {
  color: #fff;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  width: 95%;
  margin-top: 10px;
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  transition: 0.3s;
  bottom: 10px;
  /* margin-right: 20px; */
  position: absolute;
}

#menuLogout:hover {
  font-size: 16px;
  background-color: rgb(65, 65, 65);
  transition: 0.3s;
}

.dialog-ovelay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.50);
  z-index: 999999
}
.dialog-ovelay .dialog {
  width: 400px;
  margin: 100px auto 0;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,.2);
  border-radius: 3px;
  overflow: hidden
}
.dialog-ovelay .dialog header {
  padding: 10px 8px;
  background-color: #f6f7f9;
  border-bottom: 1px solid #e5e5e5
}
.dialog-ovelay .dialog header h3 {
  font-size: 14px;
  margin: 0;
  color: #555;
  display: inline-block
}
.dialog-ovelay .dialog header .fa-close {
  float: right;
  color: #c4c5c7;
  cursor: pointer;
  transition: all .5s ease;
  padding: 0 2px;
  border-radius: 1px    
}
.dialog-ovelay .dialog header .fa-close:hover {
  color: #b9b9b9
}
.dialog-ovelay .dialog header .fa-close:active {
  box-shadow: 0 0 5px #673AB7;
  color: #a2a2a2
}
.dialog-ovelay .dialog .dialog-msg {
  padding: 12px 10px
}
.dialog-ovelay .dialog .dialog-msg p{
  margin: 0;
  font-size: 15px;
  color: #333
}
.dialog-ovelay .dialog footer {
  border-top: 1px solid #e5e5e5;
  padding: 8px 10px
}
.dialog-ovelay .dialog footer .controls {
  direction: rtl
}
.dialog-ovelay .dialog footer .controls .button {
  padding: 5px 15px;
  border-radius: 3px
}
.button {
cursor: pointer
}
.button-default {
  background-color: rgb(248, 248, 248);
  border: 1px solid rgba(204, 204, 204, 0.5);
  color: #5D5D5D;
}
.button-danger {
  background-color: #f44336;
  border: 1px solid #d32f2f;
  color: #f5f5f5
}
.link {
padding: 5px 10px;
cursor: pointer
}