a,
a:focus,
a:hover {
  color: #fff;
}

/* Botão padrão customizado */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: 0.05rem solid #fff;
}

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  /* text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); */
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
  max-width: 42em;
}

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: #333;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

.mastfoot {
  color: #333;
}

footer p {
  color: antiquewhite;
}

body {
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#btnLogin {
  background-color: #fff;
  color: #333;
  transition: 1.5s;
}

#btnLogin:hover {
  background-color: #333;
  color: #fff;
  transition: 1.5s;
}

.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

#btnSignIn {
  background-color: #fff;
  color: #333;
  transition: 1.5s;
}

#btnSignIn:hover {
  background-color: #333;
  color: #fff;
  transition: 1.5s;
}

#btnSignUp {
  font-size: 14px;
  background-color: transparent;
  border-color: transparent;
  color: white;
  transition: 0.7s;
}

#btnSignUp:hover {
  font-size: 18px;
  color: rgb(80, 133, 247);
  transition: 0.7s;
}

#btnEsqueceuSenha {
  font-size: 16px;
  text-align: start;
  background-color: transparent;
  border-color: transparent;
  color: white;
  transition: 0.7s;
}

#btnEsqueceuSenha:hover {
  font-size: 18px;
  color: rgb(80, 133, 247);
  transition: 0.7s;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

#btnCadNewUser {
  background-color: #fff;
  color: #333;
  transition: 1.5s;
}

#btnCadNewUser:hover {
  background-color: #333;
  color: #fff;
  transition: 1.5s;
}

#edtLogin, 
#edtSenha {
  border-color: rgba(255, 255, 255, 0.52);
}

#edtLogin:invalid, 
#edtSenha:invalid {
  border-color: rgba(255, 0, 0, 0.52);
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

#edtLogin:valid:focus, 
#edtSenha:valid:focus {
  border-color: rgba(34, 255, 0, 0.52);
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}